<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-signin-client_id"
        content="168887579147-lhdkbkkkbsg8gi56adad4of1vq79mlj4.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Chat!</title>
</head>

<body>
    <form  method="post">
        <input type="text" id="name" name="user" autocomplete="off" /><button>Send</button>
    </form>
</body>

</html>